<%= form_for(@resource_schedule, url: find_path) do |f| %>
  <% if @resource_schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@resource_schedule.errors.count, "error") %> prohibited this resource_schedule from being saved:</h2>

      <ul>
      <% @resource_schedule.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
<% unless @resource_schedule %>

    <% @areas = getAreas %>

      From <%= f.select(:startplace, options_for_select(@areas)) %>
      To <%= f.select(:destination, options_for_select(@areas)) %>
      At  
      <div id="datepicker1" class="input-append date">
        <input data-format="dd/MM/yyyy" type="text" id="resource_schedule_startdate" name="resource_schedule_startdate" size="20" style="width:80px"></input>
        <span class="add-on">
          <i data-time-icon="icon-time" data-date-icon="icon-calendar">
          </i>
        </span>
      </div>
      <div id="timepicker1" class="input-append date">
        <input data-format="hh:mm" type="text" id="resource_schedule_starttime" name="resource_schedule_starttime" style="width:90px"></input>
        <span class="add-on">
          <i data-time-icon="icon-time" data-date-icon="icon-calendar">
          </i>
        </span>
      </div>
      Ready to Hire Cab?  <input id="resource_schedule_isreadytohire" style="" name="resource_schedule[isreadytohire]" type="checkbox" value="1"> 
<<<<<<< HEAD
<%else%>
=======
  <%end%>
<% if 1==2  %>
>>>>>>> 1e6b0df9c498fdd5c99810d1c010506e093241a2
    From: <b><%= @resource_schedule.startplace %></b><br/>
    To: <b><%= @resource_schedule.destination %></b><br/>
    At: <b><%= @resource_schedule.starttime %></b><br/><br/>
<% end %>

<<<<<<< HEAD
=======

>>>>>>> 1e6b0df9c498fdd5c99810d1c010506e093241a2
<input name="commit" type="submit" value="Search for Car">


  <table class="table">
    <tr>
<<<<<<< HEAD
      <th>Userresourceid</th>
=======
>>>>>>> 1e6b0df9c498fdd5c99810d1c010506e093241a2
      <th>Userid</th>
      <th>Isowner</th>
      <th>Startplace</th>
      <th>Destination</th>
      <th>Starttime</th>
      <th>Routeno</th>
<<<<<<< HEAD
      <th>Available</th>
      <th>Isconfirmed</th>
      <th>Isreadytohire</th>
=======
      <th>Seat Available</th>
      <th>Isconfirmed</th>
      <th>Ready to hire</th>
>>>>>>> 1e6b0df9c498fdd5c99810d1c010506e093241a2
      <th>Ishireconfirmed</th>
    </tr>

  <% @results.each do |r| %>
    <tr>
<<<<<<< HEAD
      <td><%= resource_schedule.userResourceId %></td>
      <td><%= resource_schedule.userId %></td>
      <td><%= resource_schedule.isowner %></td>
      <td><%= resource_schedule.startplace %></td>
      <td><%= resource_schedule.destination %></td>
      <td><%= resource_schedule.starttime %></td>
      <td><%= resource_schedule.routeno %></td>
      <td><%= resource_schedule.available %></td>
      <td><%= resource_schedule.isconfirmed %></td>
      <td><%= resource_schedule.isreadytohire %></td>
      <td><%= resource_schedule.ishireconfirmed %></td>
=======
      <td><%= r.userId %></td>
      <td><%= r.isowner %></td>
      <td><%= r.startplace %></td>
      <td><%= r.destination %></td>
      <td><%= r.starttime %></td>
      <td><%= r.routeno %></td>
      <td><%= r.available %></td>
      <td><%= r.isconfirmed %></td>
      <td><%= r.isreadytohire %></td>
      <td><%= r.ishireconfirmed %></td>
>>>>>>> 1e6b0df9c498fdd5c99810d1c010506e093241a2
    </tr>
  <% end %>
  </table>


<% end %>


