<%= form_for(@resource_schedule, url: findcar_path) do |f| %>

<% if @results.count > 0 %>

  <table class="table">
    <tr>
      <th>Name</th>
      <th>Isowner</th>
      <th>Startplace</th>
      <th>Destination</th>
      <th>Starttime</th>
      <th>Routeno</th>
      <th>Seat Available</th>
      <th>Isconfirmed</th>
      <th>Ready to hire</th>
      <th>Ishireconfirmed</th>
    </tr>

  <% @results.each do |r| %>
    <tr>
      <td><%= r.userId %></td>
      <td><%= r.isowner %></td>
      <td><%= r.startplace %></td>
      <td><%= r.destination %></td>
      <td><%= r.starttime %></td>
      <td><%= r.routeno %></td>
      <td><%= r.available %></td>
      <td><%= r.isconfirmed %></td>
      <td><%= r.isreadytohire %></td>
      <td><%= r.ishireconfirmed %></td>
    </tr>
  <% end %>
  </table>
<% else %>
  No matching results <br/><br/>
<% end %>

<% end %>


