<% if @results.count > 0 %>

<h4><%= @results.count %> Matches Found</h4> <br/>

  <table class="table">
    <tr>
      <th>Name</th>
      <th>Isowner</th>
      <th>Startplace</th>
      <th>Destination</th>
      <th>Starttime</th>
      
      <th>Seat Available</th>
      <th>Ready to hire</th>
    </tr>

  <% @results.each do |r| %>
    <tr>
      <td><%= r.userId %></td>
      <td>
        <% if r.isowner == 0 %>
          <%= image_tag("Close-2-icon.png") %>
        <%else%>
          <%= image_tag("Ok-icon.png") %>
        <%end%>
      </td>
      <td><%= r.startplace %></td>
      <td><%= r.destination %></td>
      <td><%= r.starttime %></td>
      <td><%= r.available %></td>
      <td><%= r.isreadytohire %></td>
    </tr>
  <% end %>
  </table>
<% else %>
  No matching results <br/><br/>
<% end %>








