<div class="page-header">
  <h1>Registration form</h1>
  <% @areas = getAreas %>

  <%= form_for [@user, @preference], :url => user_preferences_path(@preference.user, @preference), :html => { :class => 'form-horizontal' } do |builder| %>
  <div class="control-group">
    <label class="control-label" for="name">Name</label>
    <div class="controls">
      <input class="text_field" id="name" name="name" size="30" type="text" value ="<%=current_user.name%>">
    </div>
  </div>
  <div class="control-group">
        <label class="control-label" for="email">Email</label>
    <div class="controls">
      <input class="text_field" id="email" name="email" size="30" type="text" value ="<%=current_user.email%>">
    </div>
  </div>

  <h3>Preferences</h3>
  
  <div class="control-group">
    <label class="control-label" for="user_preference_attributes_acNonac">A/c</label>
    <div class="controls">
      <%= builder.check_box :acNonac, :class => 'check_box'%>
    </div>
  </div>
    <div class="control-group">
    <label class="control-label" for="user_preference_attributes_carModel">Choose your preferred Car</label>
        <div class="controls">
      <%= builder.select :carModel, ['indica', 'Innova', 'Any'], :class => 'select'%>
    </div>
  </div>
    <div class="control-group">
    <label class="control-label" for="user_preference_attributes_copassangerGender">Co-passanger</label>
        <div class="controls">
      <%= builder.select :copassangerGender, ['Male', 'Female', 'Any'], :class => 'select'%>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="user_preference_attributes_maxCapacity">Choose your preferred maximum capacity</label>
        <div class="controls">
      <%= builder.text_field :maxCapacity, :class => 'text_field'%>
    </div>
  </div>
    <div class="control-group">
    <label class="control-label" for="user_preference_attributes_from">Starting Location</label>
        <div class="controls">
      <%= builder.select(:from, options_for_select(@areas)) %>
    </div>
  </div>

    <div class="control-group">
    <label class="control-label" for="user_preference_attributes_to">Destination location</label>
              <div class="controls">
      <%= builder.select(:to, options_for_select(@areas)) %>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="user_preference_attributes_startTime">Start Time</label>
    <div class="controls">
    <div class="input-append time" id="timepicker1" data-format="hh:mm">

    <%= builder.text_field  :startTime, "data-format" => "hh:mm", :value => @preference.startTime.nil? ? Time.now.strftime("%H:%M") :  @preference.startTime.strftime("%H:%M") , :style => "width:80px", :class => 'text_field' %>
        

    <span class="add-on">
      <i data-time-icon="icon-time" data-date-icon="icon-calendar" >
      </i>
    </span>
  </div>

    </div>
  </div>
      <div class="form-actions">
    <%= builder.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                root_path, :class => 'btn' %>
  </div>
<% end %>

  <h3>Do you own a car? Add your car details here. </h3>
   <%= link_to " Resource", user_addResource_path(@preference.user), :class => " icon-white icon-plus-sign btn btn-success btn-small active" , remote: true%>
   
    <% if @user.user_resource.blank? == false %>
    <table class="table table-striped">
  <thead>
    <tr>
      <th>Is it a A/c car?</th>
      <th>Preferred Car Model</th>
      <th>Max capacity</th>
      <th>Car Number</th>
      <th>Owner</th>
      <th>Driver Name</th>
      <th>Self Drive</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
      </tr>
  </thead>
  <tbody>
    <%end%>
<% @user.user_resource.each do |user_resource| %>
      <tr>
        <td><%= user_resource.acNonac %></td>
        <td><%= user_resource.carModel %></td>
        <td><%= user_resource.maxCapacity %></td>
        <td><%= user_resource.carNumber %></td>
        <td><%= user_resource.isOwned %></td>
        <td><%= user_resource.driverName %></td>
        <td><%= user_resource.isSelfDrive %></td>
        </td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_user_user_resource_path(@user, user_resource), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      user_user_resource_path(@user,user_resource),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr><%end%>
  <div id='resourceList'>
  </div>
</div>
