<!DOCTYPE html>
<html>
<head>
  <title>Hackathon13Carpool</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body style="padding-top:40px">
    <!--[if lt IE 7]>
        <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
    <![endif]-->
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="index.php" title="Carpooling done the right way">
            <img src="http://lorempixel.com/64/64/" alt="RideShare Logo" title="RideShare Logo" height="26" width="25"/>
          </a>
          <ul class="nav pull-right">
            <% if user_signed_in? %> 
              <li><%= link_to current_user.name, root_path %></li>
              <li><%= link_to "Logout", destroy_user_session_path, method:'delete' %></li>
            <% else %> 
              <li> <a href="/users/auth/facebook">Sign in with Facebook</a> </li>
            <% end %>
            <li><a href="#">Home</a></li>
            <li><a href="#">How it Works</a></li>
            <li><a href="#">Benefits</a></li>
          </ul>

        </div>  <!--end of container -->
      </div> <!--end of navbar-inner -->
    </div> <!--end of fixed top navbar -->

    <div class="container">
    	<div class="row">
      		<div class="span12"><%= yield %></div>
    	</div>
  </div>       


</body>
</html>
